body {
    padding: 0;
    margin: 0;
    font-family: Calibri, Century Gothic, sans-serif;
}

/* Azul mais forte e vivo */
.cabecalho {
    color: #ffffff;
    background-color: #002366; /* Azul marinho mais intenso */
    text-align: center;
    padding: 30px;
}

.cabecalho h3 {
    color: #66ccff; /* Azul claro vibrante */
}

p .alinha {
    text-align: right;
}

.img-agro {
    width: 300px;
}

.br-3 {
    border-radius: 15px;
}

.img-card {
    max-height: 250px;
}

.img-slide {
    max-height: 400px;
}

/* Verde mais forte no rodapé */
.footer {
    background-color: #006400; /* Verde escuro forte */
    color: #ffffff;
    text-align: center;
    padding: 5px;
}
